@media screen and (max-width: 1100px) {
    #navbar {
        display: flex;
        flex-direction: column;
    }

    .list-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar ul li {
        padding: 0;
    }

    .box-main {
        display: flex;
        flex-direction: column;
    }

    .heading::before {
        height: 315vh;
    }

    .heading-contact::before {
        height: 101vh;
    }

    .youtube {

        flex-direction: column;
        text-align: center;
    }

    .youtube-channel img {
        position: inherit;
    }
    #navbar ul li a:hover {
        color: black;
        background-color: white;
    }
}